<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="login(loginForm, $event)">

      <mat-form-field>

        <input matInput type="email" name="email" placeholder="Email"
          ngModel [ngModelOptions]="{standalone: true}" #email="ngModel"
          (ngModelChange)="onEmailChange($event)"
          email required minlength="3" maxlength="20">
        <!-- [ngModelOptions]="{standalone: true}" o input field funciona desconectado da diretiva ngForm -->
        <!-- ngModelOptions irá especificar quando o evento deverá ser emitido, nesse caso quando deixar o campo -->
        <!-- muito usado para verificar se um id de email ainda está disponível -->
        <!-- ngModelChange envia cada mudança no campo do email -->
        <!-- Ao colocar required, tornamos o campo obrigatório -->
        <!-- Note que o campo se torma obrigatório, não que aceitará apenas um email valido -->
        <mat-error *ngIf="email.errors?.required"> O email é obrigatório! </mat-error>
        <!-- Mensagem de erro atrelada ao campo que é mostrada quando o campo é touched por exemplo, respeitando o required -->
        <!-- Importante colocar ? caso nosso erro seja null, senão teremos um erro no programa -->
        <!-- Ao trabalharmos com ngIf podemos manipular qual mensagem de erro irá aparecer para o usuario caso tenhamos mais de uma exigência para o campo -->
        <mat-error *ngIf="email.errors?.minlength">
          Email com {{email.errors?.minlength.requiredLength}} caracteres,
          tem somente {{email.errors?.minlength.actualLength}}.
        </mat-error>

        <mat-error *ngIf="email.errors?.email">O email não é valido!</mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput type="password" placeholder="Password" name="password" ngModel #password="ngModel" required>

      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Login
      </button>
      <!-- usando ngSubmit, vamos tirar o evento de click do botão e substitui-lo por type="submit" -->
      <!-- com isso iremos alterar um evento simples de click atrelado a um método pelo submit -->
      <!-- com isso nosso método fica a nível de formulário e não de clique do botão -->
      <!-- pois o evento estará atrelado ao ngSubmit no form -->

    </form>

    <div class="form-val">
      <!-- {{ loginForm.value|json }} -->
      <!-- Ao fazer essa forma estou usanod um two way data biding para mostrar a ligação instantaneamente -->
      <!-- À medida que vou digitando o objeto no formato json vai mostrando a mudança que está sendo armazenada -->
    </div>
    <div>
      {{ loginForm.value|json }}
      <!-- {{ email.errors|json }} -->
      <!-- IMPORTANTE!!! Quando exibir o valor null, é null para errors, significa que está ok, não tem erros -->
    </div>

  </mat-card-content>
</mat-card>

<!-- A diretiva ngForm é utilizada para criar e associar automaticamente um objeto FormGroup ao formulário. -->
<!-- O que faz com que habilite o Angular a gerenciar o estado do formulário. -->
<!-- Em cada campo do formulário colocamos a diretiva ngModel para fazer a ligação com o formulário -->

<!-- Vale lembrar que ng-touched, ng-dirty e ng-valid são classes CSS aplicadas automaticamente pelo Angular no formulário de acordo com o estado dos seus campos -->
<!-- Se um campo for obrigatório e não tiver dados no mesmo, ele será classificado com ngInvalid -->

<!-- IMPORTANTE: [disabled]="!loginForm.valid" >>> desabilito o botão até que as informações do formulário sejam válidas -->
